.lsd-color-m-txt{color: #2b93ff !important;}
.lsd-color-m-bg{background-color: #2b93ff !important;}
.lsd-color-m-brd{border-color: #2b93ff !important;}
.lsd-font-m{font-family: "Lato", Arial, monospace;}
.lsd-owl-carousel .owl-dots .owl-dot span{border-color: #2b93ff !important;}
.lsd-owl-carousel .owl-dots .owl-dot.active span, .lsd-owl-carousel .owl-dots .owl-dot:hover span{background-color: #2b93ff !important;}
